fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
pydantic[email]
python-jose[cryptography]
bcrypt==4.0.1
passlib
alembic
httpx
feedparser
beautifulsoup4
requests
apscheduler
fastapi-mail
scikit-learn
numpy
google-genai
groq
